<!DOCTYPE html>

<html lang="en">

<head>
    <title>hello</title>
</head>

<body>
   <table>
<thead><tr><th>Comment</th><th>Label</th></tr></thead>
<tbody>
<tr><td>Original Example</td><td>Label</td></tr>
<tr><td>COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK</td><td>Negative Comment</td></tr>
<tr><td>Adversarial Example </td><td>Label</td></tr>
<tr><td>talk BEFORE YOU PISS AROUND ON MY WORK"</td><td>Positive Comment</td></tr>
<tr><td>"You, sir, are my hero. Any chance you remember what page that's on?"</td><td>Positive Comment</td></tr>
<tr><td>"You, sir, are my grinder. whatsoever happen you think what paginate that's on?"</td><td>Negative Comment</td></tr>
</tbody>
</table>
</body>